* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    font-size: 14px;
    color: #333;

}

.app-header {
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #5cb85c;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header-text {
    align-items: center;
    font-size: 0.875rem;
    color: #151617;
    font: 400 14px / 20px Roboto, Helvetica Neue, sans-serif;
}

.language-selector {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.875rem;
    color: #666;
    font: 400 14px / 20px Roboto, Helvetica Neue, sans-serif;
}

.lang-active {
    color: #333;
    font-weight: 700;

}

.lang-active {
    font-weight: 200;
}

.lang-active:hover,
.lang-inactive:hover {
    color: #333;

}

.lang-separator {
    color: #999;

}

button {
    cursor: pointer;
    border: none;
    background: none;
    font-family: inherit;
}

.body-text.bold {
    font-weight: 700;
}

.body-text {
    font-size: 0.875rem;
    font: 400 14px / 20px Roboto, Helvetica Neue, sans-serif;
}

.heder-right-align {
    display: flex;
    gap: 1rem;
}

.span-text-header {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.span-text-header,
.span-text-header *,
.language-selector,
.language-selector * {
    font-size: 0.875rem;
}

.center-display {
    background: url('../Slike/ozadje.svg') no-repeat center center;
    background-size: cover;
    height: 100vh;
}

.form-display {
    margin: auto;
    display: flex;
    height: 46rem;
    width: 63rem;
    position: relative;
}

.form-display-left {
    background-color: #E3E8F1;
    height: 100%;
    width: 60%;
    border-radius: 25px;
    position: relative;
    top: 28%
}

.picure-banka {
    background: url('../Slike/banka.svg') no-repeat center center;
    background-size: cover;
    height: 2rem;
    width: 2rem;
}

.picure-question {
    background: url('../Slike/question.svg') no-repeat center center;
    background-size: cover;
    height: 1.6rem;
    width: 1.6rem;
    float: right;
}

.display-left-top {
    background-color: white;
    height: 70%;
    width: 90%;
    border-radius: 25px;
    margin: auto;
    margin-top: 5%;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
}

.display-left-bottom {
    background-color: white;
    height: 20%;
    width: 90%;
    border-radius: 25px;
    margin: auto;
    margin-top: 3%;
    box-shadow: wheat;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
}

.top-window {
    padding-top: 5%;
    padding-left: 5%;
    width: 90%;
    height: 10%;
}

.button-window {
    color: black;
    font-weight: 500;
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    width: 48%;
    height: 2.2rem;
    border-radius: 10px;
    transition: 0.2s;
}

h2 {
    padding-top: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 500 20px / 32px Roboto, Helvetica Neue, sans-serif;
    ;
}

.button-window:hover {
    background-color: #E3E8F1;
    transition: background-color 0.5s;
}

.button-window.primary {
    background-color: #57A939;
    color: white;
}

.top-button {
    display: flex;
    padding: 1rem;
    gap: 0.5rem;
    margin-top: 5%;
    margin-left: 2%;
}

.slideshow {
    width: 21rem;
    height: 20rem;
    overflow: hidden;
    position: relative;
    margin: auto;
}

.slide {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    animation: fadeAnimation 20s infinite;
    position: absolute;
}

.image1 {
    background-image: url('../Slike/Login_Contact.png');
    animation-delay: 0s;
}

.image2 {
    background-image: url('../Slike/Login_Loan.png');
    animation-delay: 5s;
}

.image3 {
    background-image: url('../Slike/Login_Notify.png');
    animation-delay: 10s;
}

.image4 {
    background-image: url('../Slike/Login_Notify_Security.png');
    animation-delay: 15s;
}

.image5 {
    background-image: url('../Slike/Login_Register.png');
    animation-delay: 20s;
}

@keyframes fadeAnimation {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.form-input {
    float: left;
    margin-left: 5%;
    width: 90%;
    margin-top: 3%;
}

.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    width: 100%;
    font-family: Arial, sans-serif;
}

.field label {
    font-size: 100%;
    margin-bottom: 5px;
    color: #666;
}

.field input {
    border: none;
    border-bottom: 2px solid #aaa;
    padding: 6px 0;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

.field input:focus {
    border-bottom-color: #57A939;
}

.field-width {
    width: 100%;
}

.con-input {
    width: 90%;
    display: flex;
    margin-left: 5%;
}

.con-input-check {
    gap: 1rem;
    margin-top: 3%;
    width: 100%;
}

input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
}

.span-color {
    color: #151617;
    margin-left: 0.5rem;
}

.link {
    float: right;
}

.submit-ele {
    width: 90%;
    margin: auto;
    display: grid;
    place-items: center;
}

.submit-button {
    padding: 0.75rem 2rem;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    font-weight: 600;
    transition: all 0.2s;
    width: 100%;
    margin-top: 3%;
    background-color: #CDCDCD;
}

a,
span {
    color: black;
}

.final-text {
    margin: auto;
    width: 90%;
    margin-top: 3%;
}


.submit-button.primary {
    background-color: #5cb85c;
    color: white;
}

.register {
    padding: 0.75rem 1rem;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    font-weight: 600;
    transition: background-color 0.2s;
    width: 100%;
    margin-top: 3%;
}

.register:hover {
    background-color: #EAEBEF;
}

.new-user {
    width: 90%;
    margin: auto;
}

.bottom-text-app {
    width: 90%;
    margin: auto;
    display: flex;

}

.bottom-app {
    margin-top: 5%;
    position: absolute;
    width: 80%;
}

.bottom-link-app {
    margin-top: 5%;
}

.bottom-link {
    color: grey;
    text-decoration: none;

}

.bottom-link:hover {
    text-decoration: underline;
    text-decoration-color: #151617;

}

.span-class {
    font-weight: 500;
}

.qr {
    width: 6rem;
    height: 6rem;
}

.qr-code {
    float: right;
    margin: auto;

}

.promotion {
    margin: auto;
    margin-top: 30%;
}

.logo-image {
    background: url('../Slike/otp-banka-logo.svg') no-repeat center center;
    background-size: cover;
    height: 10rem;
    background-repeat: no-repeat;
    background-size: 60% 60%;
}

